* {
    margin: 0;
    padding: 0;
}

/*Navigation bar section*/
#navbar {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 80px;
    grid-template-rows: 50px;
    grid-template-areas: "about store . gmail images menu sign-in";
    margin: 0px 15px;
}

a {
    font-size: 13px;
    font-family: arial;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#about {
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#store {
    grid-area: store;
    justify-self: center;
    align-self: center;
}
#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}
#images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}
#menu {
    grid-area: menu;
    justify-self: center;
    align-self: center;
    position: relative;
    margin-top: 4px;
}
#sign-in {
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    background-color: #4285f4;
    border-radius: 3px;
    text-decoration: none;
}
